.error
{	
width:92%;
color:#a94442;
background:#F2DEDE;
text-align:left;
}

/*
.error
{	
width:92%;
margin:0px auto;
padding: 10px;
border: 1px #a94442;
color:#a94442;
background:#F2DEDE;
border-radius: 5px;
text-align:left;
}